/*https://color.adobe.com/create/color-contrast-analyzer*/
/*dark theme*/
body.dark{
    --bg-color: #000;
    --normal-text: #5ac;
    --link-clicked: #B250D8;
    --link-unclicked: #d80;
    --header-bg: #333;
    --nav-link-color: #6B0;
}
/*light theme*/
body.light{
    --bg-color: #ABABD4;
    --normal-text: #000;
    --link-unclicked: #153057;
    --link-clicked: #042;
    --header-bg: #9494C8;
    --nav-link-color: #523;
}

body {
    background: var(--bg-color);
    color: var(--normal-text);
    padding: 0px;
    margin: 0px;
    font-family: Georgia, serif;
}

.nav-link {
    color: var(--nav-link-color) !important;
}

a {
    color: var(--link-unclicked);
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: var(--link-clicked);
}

a:hover {
    text-decoration: underline;
}

#header {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
    align-items: center;
    background: var(--header-bg);
    width: 100%;
    font-size: 24px;
    padding: 0.5em 1em;
}

#content {
    margin: 1em;
}
