
@media (prefers-color-scheme: dark){
:root {
    --background-color: rgba(0,0,0,0);
    --primary-color: white;
    --secondary-color: white;
}
}
@media (prefers-color-scheme: light){
:root {
    --background-color: rgba(0,0,0,0);
    --primary-color: black;
    --secondary-color: black;
}
}

