<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}} · Pagwin's website</title>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://pagwin.xyz/index.xml">
</head>
<body class="light">
    <div id="header">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/links/">Links</a>
        <a class="nav-link" href="/index.xml">RSS</a>
    </div>
    <div id="content">
        <h1>{{{title}}}</h1>
        {{{content}}}
    </div>
    <div id="footer">
    </div>
</body>
</html>
