<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}} · Pagwin's website</title>
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
    <link rel="preload" type="text/css" href="/static/css/colors.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/index.xml">
    <script type="module" src="/static/js/code_highlighting.mjs"></script>
</head>

<body class="light">
    <!--script is at the top of body, it needs body defined but we want to start work on downloading and loading it asap, we can have it block by having it not be a module but that has performance problems for slower internet that makes me prefer having it as a module even if users get a flicker of unstylized page-->
    <script type="module" src="/static/js/color-mode.mjs"></script>
    <div id="header">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/posts/">Blog Posts</a>
        <a class="nav-link" href="/links/">Links</a>
    </div>
    <div id="content-outer">
        <div id="content">
            <h1
                style="font-variant: small-caps;text-align: justify; -moz-text-align-last: center; text-align-last: center;">
                {{{title}}}</h1>
            {{{content}}}
        </div>
    </div>
    <div id="footer">
    </div>
</body>

</html>
