<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{title}}} · Pagwin's website</title>
  <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
</head>
<body class="dark">
  <div id="header">
    <div id="navigation">
      <a href="/">Home</a>
      <a href="/links/">Links</a>
      <a href="/archive/">RSS</a>
    </div>
  </div>
  <div id="content">
    <h1>{{{title}}}</h1>
    {{{content}}}
  </div>
  <div id="footer">
  </div>
</body>
</html>
