<header>
    <h1>Hi there, I'm Pagwin</h1>
    <p>I post here sometimes</p>
    <p>Also I am currently looking for work, send me an email <a href="mailto:pagwin+public-blog-email@pagwin.xyz">
            pagwin+public-blog-email@pagwin.xyz</a> if you like what you read and want to hire me</p>
</header>
<hr>
<h2>Posts:</h2>
<dl>
    {{#posts}}
    <div>
        <dt class="post-title-item"><a href="{{link}}">{{title}}</a> </dt>
        <dd class="dt-subtitle"><time datetime="{{{iso_date}}}">{{date}}</time></dd>
        <dd>
            <p>{{summary}}</p>
        </dd>
    </div>
    {{/posts}}
</dl>
